<div class="flex relative">
  <div
    [class.ltr:translate-x-0]="isOpen$ | async"
    [class.ltr:-translate-x-full]="!(isOpen$ | async)"
    [class.rtl:translate-x-0]="isOpen$ | async"
    [class.rtl:translate-x-full]="!(isOpen$ | async)"
    class="fixed bg-white lg:relative lg:translate-x-0 transition-transform duration-300 ease-in-out z-20 h-screen"
  >
    <app-side-nav />
  </div>

  <!-- Overlay for mobile -->
  @if ((isOpen$ | async) && !isLargeScreen) {
  <div class="fixed inset-0 bg-[#00000061] z-10" (click)="closeSidebar()"></div>
  }

  <div class="h-screen flex flex-col flex-1">
    <!-- Top Nav -->
    <app-top-nav />
    <!-- Main Content -->
    <main
      class="flex-1 p-7 ltr:border-s rtl:border-e border-[#E0E0E0] bg-[#F5F6FA]"
    >
      <app-home></app-home>
    </main>
  </div>
</div>
